/*This is the CSS to the slideshow*/
* {box-sizing: border-box;}

/*Container for SS*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*Buttons for next and back*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Next button position */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* back button position */
.prev:hover, .next:hover {
  background-color: rgba(170, 109, 109, 0.8);
}

/* caption text */
.text {
  color: #dac4c4;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Numbers text */
.numbertext {
  color: #dac4c4;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* dots, bullets, indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Those sweet fades */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }